/* Header.css */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #171a21;
    color: #fff;
    padding: 10px 20px;
  }
  
.header__logo img {
    height: 40px;
  }
  
.header__nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.header__nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
.header__nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
.header__nav ul li a:hover {
    text-decoration: underline;
  }
  