/* friend.css */
.friend-page {
    padding: 20px;
    color: #c6d4df;
    background-color: #1b2838;
  }
  
  h2 {
    color: #c7d5e0;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar .MuiTextField-root {
    margin-right: 10px;
    background-color: #2a475e;
    border-radius: 4px;
  }
  
  .friend-table {
    background-color: #2a475e;
  }
  
  .MuiTableCell-root {
    color: #c6d4df;
  }
  
  .MuiTableCell-head {
    background-color: #171a21;
  }
  
  .MuiButton-containedPrimary {
    background-color: #5c7e10;
  }
  